<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        " http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/test?useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.it.model.User"></mapping>
        <mapping class="com.it.model.Role"></mapping>
        <mapping class="com.it.model.Language"></mapping>
        <mapping class="com.it.model.Level"></mapping>
        <mapping class="com.it.model.Tutor"></mapping>
        <mapping class="com.it.model.TypeOfCourse"></mapping>
        <mapping class="com.it.model.StudentCourse"></mapping>
        <mapping class="com.it.model.Course"></mapping>
        <mapping class="com.it.model.Event"></mapping>
        <mapping class="com.it.model.Student"></mapping>
        <mapping class="com.it.model.ScheduleMaker"></mapping>
    </session-factory>
</hibernate-configuration>